
<form [formGroup]="loginform" class="login-panel debug">
  <div>
    <h3>Drello Login</h3>
    <div>
      <mat-form-field id="user" appearance="fill" formControlName="username">
        <mat-label>Username</mat-label>
        <input matInput placeholder="John">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field id="pass" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="****" formControlName="password">
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="Primary">Login</button>
    </div>
  </div>
</form>
<form class="example-form">
</form>
