
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.debug {
  border: 1px solid black !important;
  margin: 1px;
  padding: 1px;
}

.login-panel {
  padding: 5px;
}

.login-panel .mat-form-field-infix {
  padding: 0.25em 0 !important;
  border: 0.5em solid rgba(0,0,0,0);;
}
